.IconStyle{
   margin-right: 10px;
}
.BothlinkIcon{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    justify-content: space-around;
    border: .1px solid rgb(221, 221, 221);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
   
}
.linkIcon{
    margin: 25px 10px; 
}
@media screen and (max-width: 350px){

    .BothlinkIcon{
        font-size: 0.5rem;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    .BothlinkIcon{
        font-size: .6rem;
        text-align: center;
        

    }
    
}