.AQSHearers{
    font-family: Poppins;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    border-radius: .4rem ;

}
.insideHeadingStyle{
    font-family: Poppins;
    font-weight: 700;
}
.Content{
    text-decoration: none;
    list-style: none;
    margin: 1rem auto;
    font-family: Poppins;
}
.total{
    padding: 1rem 0;
}