.dropItems{
    display: flex;
    color: var(--black);
    font-family: Poppins;
    font-weight: 700;
    padding: 9px 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

}

.dropItems:hover{
    border-radius: 1rem;
    background-color: var(--hover-color);
}

#dropdownMenu{
    color: var(--black)!important;
    font-family: Poppins;
    font-weight: 700;
    text-align: center;
    justify-content: center !important;
    border-radius: 1rem;
    margin: 2px 6px;
}
#dropdownMenu:hover{
    border-radius: 1rem;
    background-color: var(--hover-color);
}

